@import url('https://fonts.googleapis.com/css2?family=Buenard&family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./base/_variables.scss";
@import"./base/_maps.scss";
@import "./base/_extends.scss";
@import "./base/_mixin";
@import "./acercade";
@import "./contacto";
@import "./galeria";
@import "./informacion";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// HEADER / NAV
header {
    a {
        padding: 0;

        img {
            width: 12%;
            margin: 10px;
        }
    }
}

header {
    background-color: $color-negro;
    @include flex (flex, space-between, center);
    height: 100px;

    nav {
        ul {
            list-style: none;
            text-align: end;

            li {
                display: inline-block;
                margin: 20px;

                a {
                    font-size: 15px;
                    text-decoration: none;
                    color: $color-blanco;
                    background-color: $color-naranja;
                    padding: 6px;
                    border-radius: 3px;


                    &:hover {
                        background-color: $color-blanco;
                        color: $color-negro;
                    }
                }
            }
        }
    }
}

// MAIN
.texto-h1 {
    @extend %flex-footer;
    font-size: 80px;
    font-family: 'Bebas Neue';
    color: $color-negro;
    background-image: url(../img/casa-kame.jpg);
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.texto-h2 {
    background-color: rgb(253, 127, 24);
    padding: 5px;
    width: 200px;
    font-family: 'Bebas Neue';
    ;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.catalogo {
    img {
        height: 300px;
        object-fit: cover;
    }
}

.catalogo {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-evenly;
    text-align: center;
    overflow: auto;

    div {
        a {
            width: map-get($boton , ancho);
            background-color: map-get($boton, bg-boton);
            border: map-get($boton, border-boton);
            color: map-get($boton, color-texto);
            padding: map-get($boton, padding-texto);

            &:hover {
                background-color: #222;
                color: rgb(253, 127, 24);
                border: 2px solid rgb(253, 127, 24);
            }
        }
    }
}


// FOOTER
.footer {
    img {
        margin: 10px;
        width: 7%;
    }
}

.footer {
    background-color: $color-negro;
    padding: 0;
    height: 300px;

    ul {
        list-style: none;
        li {
            list-style: none;
            margin: 10px;
            text-align: center;

            a {
                text-decoration: none;
                color: $color-blanco;

                &:hover {
                    color: $color-naranja;
                    font-size: large;
                }
            }
        }
    }
}

// IMG REDES SOCIALES
.redes {
    margin: 10px;
    width: 35%;
}